header {
    border: solid red;
    background: url('https://media.gettyimages.com/id/1180561312/photo/still-life-of-an-open-book-with-a-red-stone-as-bookmark-on-jetty-at-a-lake-tranquil-scene.jpg?s=612x612&w=0&k=20&c=UJCMtJ44f8KA-GYFv3gsrozc-asOsmF8U0RHynvsXcI=') no-repeat center; 
    height: 800px;
    background-size: cover;
    
}
#name {
    font-size: 80px;
    color: rgb(39, 174, 241)
}
    
    
